<!-- ================================================================================ -->
<!-- StyleManager -->
<!-- ================================================================================ -->
{{#depsStylesheets}}
<!-- {{desc}} -->
<link rel="stylesheet" href="{{&libraries}}/{{&module}}" />
{{/depsStylesheets}}
<!-- ================================================================================ -->
<!-- 页面样式文件 -->
<!-- ================================================================================ -->
<link rel="stylesheet" href="{{&stylesheets}}/{{filename}}.css" />
