@import "./core/default";
@import "./vars/common";

@import "./view/uiicon";
/*@import "./view/swipercontainer";*/
@import "./view/sitefooter";
/*@import "./view/recommend";
@import "./view/category";
@import "./view/table";
@import "./view/notice";
@import "./view/lazyable";
@import "./view/sidenav";
@import "./view/overlay";*/
@import "./weui/widget/weui_searchbar/weui_searchbar.scss";
@import "./weui/icon/weui_font.scss";
@import "./weui/icon/weui_icon_font.scss";

html,
body {
	width: 100% !important;
	height: 100% !important;
	display: block;
	padding: 0;
	margin: 0;
}
.weui_search_bar {
    padding: 8px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 2;
}
    #classifyNav{
    /*height: -moz-calc(100% - 92px);
    height: -webkit-calc(100% - 92px);
    height: calc(100% - 92px);*/
    overflow: hidden;
    height:100%;
    width:20%;
    float: left;
    top:40px;
    bottom:52px;
    background-color:red;
    & content {
        width:100%;
        height:100%;
        display:block;
        overflow-x:hidden;
         overflow-y:auto;   
        border: 1px solid #E6E6EA;
	    background-color: #fff; 		
            & ul {
            width:100%;
			display: block;
			list-style: none;
			padding: 0;
			margin: 0;
             overflow-x:hidden;
         overflow-y:auto;  
            &  li {
                 width:100%;
                white-space:nowrap;
                position:relative;
				display: block;
				color: #454545;				           
				padding-top:17px;
                padding-bottom:17px;
                text-align:center;
                white-space:nowrap;
                /*padding-left: 13px;
				padding-right: 12px;*/
                font-size:12px;
                line-height:17px;
                    &:before {
                    content: " ";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 1px;
                    border-top: 1px solid #D9D9D9;
                    color: #D9D9D9;
                    -webkit-transform-origin: 0 0;
                    transform-origin: 0 0;
                    -webkit-transform: scaleY(0.5);
                    transform: scaleY(0.5);
                    /*left: 15px;*/
                     left:16%;
                }
                &:first-child {
                    &:before {
                        display: none;
                    }
                }
                & a{
                    display:block;
                    width:100%;
                    & img{
                        /*width:32px;
                        height:32px;*/
                             width:42.66666666666667%;
                             height:auto;
                            display: block;
                            margin: 0 auto;
                            margin-bottom:2px;
                    }
                }
			}
              & li:last-child{
                margin-bottom:90px;
            }
		}
	}
    }


#classifyContent {
    /*width:-moz-calc(100% - 75px);
    width:-webkit-calc(100% - 75px);
	width:calc(100% - 75px);
    height: -moz-calc(100% - 92px);
    height:-webkit-calc(100% - 92px);
    height: calc(100% - 92px);*/
    height:100%;
    width:80%;
    top:40px;
    bottom:52px;
    right:0;
    overflow: hidden;
	position:absolute;
    font-size:12px;
    color:#888888;
    & content {
        width:100%;
        height:100%;
        display:block;
         overflow:auto;   
        border: 1px solid #E6E6EA;
    }
    & .banner{
        display:block;
        width:100%;
        height:auto;
    }
    & .title{
        margin-top:10px;
        margin-left:10px;
        margin-bottom:5px;
    }
    & ul{
        display:block;
        width:100%;
        padding-bottom:52px;
            & li{
                    float:left;
                display:block;
                width:33.33333333333333%;
                height:auto;
                background-color:#fff;
                & a{
                    display:block;
                    width:100%;
                    text-align:center;
                    & img{
                        width:60%;
                        margin-top:10px;
                        margin-bottom:2px;
                    }
                    & div{
                    color:#454545;
                        margin-bottom:9px;
                    }
                }
            }
            & li:last-child{
                margin-bottom:90px;
            }
    }
}

#classifyContent content::-webkit-scrollbar,
#classifyNav content::-webkit-scrollbar {
		width: 0 !important;
	}
		
 .active{
    color:#0BB20C !important;
 }
