@import "./core/default.scss";
@import "./vars/common";

@import "./view/uiicon";
@import "./view/scrollcontainer";
@import "./view/flexbutton";

@import "./weui/base/fn";
/*@import "./weui/icon/weui_icon_font";*/
/*@import "./weui/widget/weui_button/weui_button";*/
@import "./weui/widget/weui_cell/weui_cell_global";
/*@import "./weui/widget/weui_cell/weui_form";*/
/*@import "./weui/widget/weui_cell/weui_access";*/

@import "./utils/weui_reset";


#main {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 120px;
    bottom: 0px;
    height: auto;
}