@import "./core/default.scss";
@import "./vars/common";

@import "./view/uiicon";
@import "./view/scrollcontainer";
@import "./view/flexbutton";

@import "./weui/base/fn";
/*@import "./weui/icon/weui_icon_font";*/
/*@import "./weui/widget/weui_button/weui_button";*/
@import "./weui/widget/weui_cell/weui_cell_global";
/*@import "./weui/widget/weui_cell/weui_form";*/
@import "./weui/widget/weui_cell/weui_access";

@import "./utils/weui_reset";


.sectip {
    height: 120px;
    margin-top: -120px;
    /*background: url(../bitmaps/common/hidden.png) no-repeat center center;*/
    background-color: #686f78;
    /*background-size: 32px 36px;*/
}


#totalIncome {
    .weui_cell:before {
        display: none;
    }

    & > .weui_cell:first-child + .weui_cell:before {
        display: block;
        left: 0px;
    }

    & > .weui_cell + .weui_cell {
        padding-top: 0px;
    }

    & > .weui_cell:first-child + .weui_cell {
        padding-top: 15px;
    }
}

.page-description {
    color: $defaultDescsColor;
    font-size: 12px;
    padding: $gap15;
    text-shadow: rgba(255, 255, 255, 0.75) 1px 1px 0px;
}