@import "./core/default.scss";
@import "./vars/common";

@import "./view/uiicon";
/*@import "./view/scrollcontainer";*/

@import "./weui/base/fn";
@import "./weui/icon/weui_icon_font";
@import "./weui/widget/weui_button/weui_button";
@import "./weui/widget/weui_cell/weui_cell_global";
@import "./weui/widget/weui_cell/weui_form";
/*@import "./weui/widget/weui_cell/weui_access";*/
@import "./weui/widget/weui_tips/weui_toast";
@import "./weui/widget/weui_tips/weui_mask";
@import "./weui/widget/weui_tips/weui_dialog";

@import "./utils/weui_reset";


#brand {
    position: relative;
    /*height: 45.866vw;*/

    &:before {
        @include setTopLine($weuiCellBorderColor);
    }
    &:after {
        @include setBottomLine($weuiCellBorderColor);
    }

    & > .brand-image {
        display: block;
        width: 100%;
        height: auto;
    }
}


.page-description {
    color: $defaultDescsColor;
    font-size: 12px;
    padding: $gap15;
    text-shadow: rgba(255, 255, 255, 0.75) 1px 1px 0px;
}