@import "./core/default.scss";
@import "./vars/common";

/*@import "./view/uiicon";*/
@import "./view/scrollcontainer";
/*@import "./view/flexbutton";*/

@import "./weui/base/fn";
/*@import "./weui/icon/weui_icon_font";*/
/*@import "./weui/widget/weui_button/weui_button";*/
@import "./weui/widget/weui_cell/weui_cell_global";
/*@import "./weui/widget/weui_cell/weui_form";*/
/*@import "./weui/widget/weui_cell/weui_access";*/

@import "./utils/weui_reset";


.extra-headline {
    font-size: 16px;
    background: #fff;
    padding: $gap15 $gap15;
    position: relative;

    & .extra-bd {
        float: left;
        height: 40px;
        line-height: 40px;
    }

    & .extra-ft {
        height: 40px;
        line-height: 40px;
        float: right;
        font-size: 26px;
    }

    &.cd-log-in .extra-ft {
        color: $weuiBtnPrimaryBg;
    }

    .extra-content {
        @include clearfix();
    }

    &:before {
        @include setTopLine($weuiCellBorderColor);
    }
}


.extra-table {
    font-size: 16px;
    margin-top: 0px;
}