@import "./core/default.scss";
@import "./vars/common";

@import "./view/uiicon";
@import "./view/scrollcontainer";
/*@import "./view/swipercontainer";*/

@import "./weui/base/fn";
@import "./weui/icon/weui_icon_font";
@import "./weui/widget/weui_button/weui_button";
@import "./weui/widget/weui_cell/weui_cell_global";
@import "./weui/widget/weui_cell/weui_form";
@import "./weui/widget/weui_cell/weui_access";
@import "./weui/widget/weui_tips/weui_toast";
@import "./weui/widget/weui_tips/weui_mask";
@import "./weui/widget/weui_tips/weui_dialog";
@import "./weui/widget/weui_tips/weui_actionsheet.scss";
@import "./weui/widget/weui_cell/weui_check/weui_check_common.scss";
@import "./weui/widget/weui_cell/weui_check/weui_radio.scss";

@import "./utils/weui_reset";
@import "./view/ordercells";
@import "./view/tpaddr";
@import "./view/sidenav";


.weui_icon_warn:before,
.weui_icon_info_circle:before {
    font-size: 21px;
}


#statusImage {
    margin-top: $weuiCellsMarginTop;
    position: relative;
    height: 35.20vw;

    &:before {
        @include setTopLine($weuiCellBorderColor);
    }
    &:after {
        @include setBottomLine($weuiCellBorderColor);
    }

    & > .status-image {
        display: block;
        width: 100%;
        height: 100%;
    }
}


#address {
    margin-right: $gap5;

    & > .fillguid {
        font-size: 16px;
    }

    & > .headline {
        font-size: 16px;
    }
    & > .location {
        color: #808080;
        overflow: hidden;
        max-height: 40px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &.no-data {
        .headline { display: none; }
        .location { display: none; }
    }

    &:not(.no-data) {
        .fillguid { display: none; }
    }
}


.order-status-overview {
    font-size: 16px;


    & .weui_cell_ft {
        font-size: 14px;
    }


    &.order-done-status .status .weui_cell_ft {
        color: #04be02;
    }

    &.order-processing-status .status .weui_cell_ft {
        color: #E64340;

    }

    &.order-normal-status .status .weui_cell_ft {
        color: $defaultTextColor;
    }

    .express:active {
        background: #ECECEC;
    }
}



.order-address {
    & > .headline {
        font-size: 16px;
    }
    & > .location {
        color: #808080;
        /*overflow: hidden;*/
        /*white-space: nowrap;*/
        /*text-overflow: ellipsis;*/
    }
}

.order-help {
    margin-bottom: $weuiCellsMarginTop;


    a {
        color: $globalLinkColor;
    }
}

/*.weui_cells_title {
    margin: 0.5em 0em;
}*/

#toast {
    font-size: 16px;
    transition: opacity linear 0.3s, visibility linear 0.3s;
    opacity: 0;
    visibility: hidden;

    &.show-toast {
        opacity: 1;
        visibility: visible; 
    }

    &:not(.toast-complete) {
        .weui_icon_toast {
            display: none;
        }
    }

    &.toast-complete {
        .weui_loading {
            display: none;
        }
    }
}

/*add by stefanchen*/
.radioSheetBtn{
    margin-left:10px;
    margin-right:10px;
    margin-top:15px;
    margin-bottom:15px;
}

.z-index999{
    z-index:999;
}