@import "../weui/base/fn";

.radio-button {
    position: relative;
    display: inline-block;
    vertical-align: top;

    & > .radio-label {
        position: relative;
        padding: 0px 12px;
        height: 44px;
        line-height: 44px;
        display: block;
        background: #fff;
        /*border: 1px solid #DBDBDB;*/
        border-radius: 9999px;
        min-width: 64px;
        text-align: center;
        box-sizing: border-box;

        &:after {
            content: " ";
            width: 200%;
            height: 200%;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid rgb(0, 0, 0);
            opacity: 0.2;
            transform: scale(.5);
            transform-origin: 0 0;
            box-sizing: border-box;
            border-radius: 9999px;
        }
    }

    & > input[type=radio] {
        position: absolute;
        left: -9999em;
    }

    & > input[type=radio]:disabled + .radio-label {
        color: #DBDBDB;
        /*border-color: #DBDBDB;*/
    }

    & > input[type=radio]:not(:disabled):active + .radio-label {
        /*background-color: #ECECEC;*/
    }

    & > input[type=radio]:not(:disabled):checked + .radio-label {
        &:after {
            border-color: #04be02;
            opacity: 0.8;
        }
        color: #04be02;
    }
}