@import "../weui/base/fn";

.radio-button {
    position: relative;

    & > .radio-label {
        padding: 0px 12px;
        height: 44px;
        line-height: 44px;
        display: inline-block;
        vertical-align: top;
        background: #fff;
        border: 1px solid #DBDBDB;
        border-radius: 2px;
        color: #353535;
        min-width: 52px;
        text-align: center;
        box-sizing: border-box;
    }

    & > input[type=radio] {
        position: absolute;
        left: -9999em;
    }

    & > input[type=radio]:disabled + .radio-label {
        color: #DBDBDB;
        border-color: #DBDBDB;
    }

    & > input[type=radio]:not(:disabled):active + .radio-label {
        /*background-color: #ECECEC;*/
    }

    & > input[type=radio]:not(:disabled):checked + .radio-label {
        border-color: #04be02;
        color: #04be02;
    }
}