@import "../weui/base/fn";
@import "../mixins/utils";

.recommend {
    padding: $gap10 $gap10;
    /*background: #f8f8f8;*/
    display: flex;
    align-items: center;
    transform: translateY(0) translateZ(0px);

    /*@include backdrop();*/
    background: #fff;

    &.hidden-recommend,
    .hidden-recommend > & {
        transform: translateY(-100%) translateZ(0px);
        transition: transform ease-in-out 0.3s;
    }

    & > .recomd-header {
        width: 36px;
        height: 36px;

        & .recomd-avatar {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 2px;
        }
    }

    & > .recomd-content {
        flex: 1;
        line-height: 18px;
        padding-left: $gap10;
        height: 36px;

        @include mutiline-text-overflow(2);
    }

    & > .recomd-cancel {
        margin-left: 5px;
        display: block;
        align-self: center;

        & > i:before {
            color: #aaa;
        }
    }

    // onepx
    position: relative;
    &:before {
        @include setTopLine($weuiCellBorderColor);
    }
    &:after {
        @include setBottomLine($weuiCellBorderColor);
    }
}