@import "../mixins/utils";

.scroll-container {
    position: relative;
    overflow: hidden;
    & > content {
        min-height: 100%;
        @include clearfix();
    }


    .scroll-track {
        pointer-events: none;
        opacity: 0;
        transition: opacity ease-in-out 0.3s;
        position: absolute;
    }

    .scroll-track.scroll-track-showing {
        opacity: 1;
    }

    .scroll-indicator {
        box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 1px;
        box-sizing: border-box;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.35);
    }

    .scroll-track.scroll-x-track {
        bottom: 3px;
        left  : 5px;
        right : 5px;
        height: 3px;

        & > .scroll-indicator {
            height: 100%;
            min-width: 5px;
            width: 0px;
        }
    }

    .scroll-track.scroll-y-track {
        right: 3px;
        top: 5px;
        bottom: 5px;
        width: 3px;

        & > .scroll-indicator {
            width: 100%;
            min-height: 5px;
            height: 0px;
        }
    }
}