<!-- ================================================================================ -->
<!-- ScriptManager -->
<!-- ================================================================================ -->
{{#baseDependencies}}
<!-- {{desc}} -->
<script type="text/javascript" src="{{&libraries}}/{{&module}}"></script>
{{/baseDependencies}}
{{#dependencies}}
<!-- {{desc}} -->
<script type="text/javascript" src="{{&libraries}}/{{&module}}"></script>
{{/dependencies}}
<!-- ================================================================================ -->
<!-- 页面入口点 -->
<!-- ================================================================================ -->
<script type="text/javascript" src="{{&scripts}}/{{filename}}.js"></script>
